streamlit
sqlalchemy
psycopg2-binary
pgvector
beautifulsoup4
tqdm
pydantic
sentence-transformers
transformers
torch
numpy
lxml
rank_bm25
requests
regex
bcrypt
gradio
uvicorn
fastapi
html2text
PyPDF2
oci
oracledb
einops
langchain-text-splitters
tiktoken
opensearch-py
